.newsletter {
    background-color: #cae5f4;
    margin-block-start: 3rem;
    border-radius: 2px;
    padding: 1rem;
}

.newsletter_content {
    padding: 50px 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.newsletter_content h2 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.newsletter_input {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
    background: #fff;
    padding: 0.3rem;
    margin-bottom: 0.2rem;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.newsletter_input input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0.5rem;
}

.newsletter_input button {
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0.5rem;
    cursor: pointer;
}

.newsletter_content p {
    color : var(---clr-grey-5);
    font-size: 0.8rem;
}
